<head>
    <link rel="stylesheet" type="text/css" href="public/css/style_landing.css" />
    <link rel="stylesheet" type="text/css" href="public/css/bootstrap.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body style='padding: 20px; background-color: gainsboro'>
    <p>
    <h5 style="font-weight: bold;">Privacy Policy</h5>
    This policy is effective from February 1 st 2021.<br>
    <p></p>
    This Privacy Policy describes how and when Tastefever collects, uses and shares your personal information when you
    use our Services. If you have any questions or comments about this Privacy Policy, please contact our data
    protection officer at info@tastefever.com.<br />
    <p></p>
    TASTEFEVER is an international online platform facilitator (hereinafter “Tastefever”, “we”, “or”, “us”), providing a
    platform that enables registered users (hereinafter “User”) to buy, rate and review wine ratings and wine
    information (hereinafter the “Services”) via the website or mobile application. It also enables Users to follow
    other Users to see their ongoing reviews and connect with contacts from social media etc. <br />
    <p></p>
    Our address is Plasstraat 30, 8790 Waregem, BELGIUM, and the platform is owned by TASTEFEVER. Tastefever can be
    contacted at https://www.tastefever.com/contact .<br />
    <p></p>
    This privacy policy applies to all use of our websites, www.tastefever.com, (hereinafter “Web”), and all use of our
    application for mobile devices (hereinafter “App”). The Web and the App together form our service offers to you
    (hereinafter “Platform”).
    The privacy policy may be amended from time to time by us with a fair notice to you before the new privacy policy
    comes into force. Please note, that you may use our Platform without signing up, in which case we will only collect
    data based on your consent to our cookie policy that you may find in 'Categories of personal data'.
    </p>
    ​<h3>1. Data controller</h3>
    <p>Tastefever, Plasstraat 30, 8790 Waregem, BELGIUM is the Data controller of processing personal data concerning
        Users. We will process your personal data in compliance with European General Data Protection Regulation. This
        privacy policy covers our processing of personal data processed when you register and access the Platform and
        thereby use our services.
    </p>
    ​<h3>2. Purpose and legal basis</h3>

    We process your personal data in order for us to manage our user relation with you, including managing your account
    and provide you with access to use our Platform, we collect and use information about you. The processing of your
    personal data is performed on the legal basis of: o fulfilment of our contractual obligations when delivering the
    Platform to you. We process your ratings of wine to provide you with the opportunity to allow other users to follow
    your ratings, we process your personal data the legal basis of: o your freely given consent provided when signing up
    to the Platform. o This consent you may withdraw at any time under your profile settings, disabling the ability for
    other users to follow your ratings. We process your personal data to facilitate your purchase of wine via the
    Platform on the legal basis of: o fulfillment of our contractual obligations to facilitate your purchase of wine. We
    also process your personal data to deliver and improve the Platform, and manage our business, to improve our
    offerings, develop new features and updates, develop personalization services and other types of service, including
    but not limited to develop and implement algorithms and machine learning.
    <br />
    <p></p>
    This processing is on the basis of:<br />
    <p></p>
    ​
    o Our legitimate interest to improve our platform and services. We also use your personal data to display to you
    personalized marketing message on our Platform, to inform you about new features and updates on the Platform, and
    let you know about our policies and Terms and Conditions. The processing of personal data is performed based
    on:<br />
    <p></p>

    o your freely given consent to receive marketing by e-mail and push notifications provided when signing up to the
    Platform, which you may withdraw at any time under your Profile Settings or by clicking the “Unsubscribe” button in
    any marketing e-mail.
    o If you withdraw your consent to receive personalized marketing message, will we still display marketing message to
    you on the Platform, but they will be of a generic nature and therefore less relevant to you.

    ​<h3>3. Categories of personal data</h3>


    We mainly collect the personal data that you submit to us, including your contact information, reviews and purchase
    history. But we also collect information in several ways from different parts of the Platform, as further detailed
    below, including but not limited to the way you use the Platform and if applied tracking information about your
    whereabouts on the Internet and technical information about your devices and location. When signing up:<br />
    <p></p>
    ​
    o When registering via our online Platform, you provide us with certain information, including email, password,
    username, name, country of origin, preferred language.<br />
    o When registering and signing in via thirdparty application login (such as Facebook), and you authorize us to
    access certain account information from that third-party application, such as basic profile information; name,
    profile picture, e-mail address (optional), current city (optional).<br />
    o Some of this information will never be made public, such as password. Other information can be either hidden by
    default (email address, country of origin) or public by default (name and profile picture if third party application
    sign up).<br />
    o Geolocation will not be disclosed, but you have the possibility to add a geotag when reviewing wines as a public
    user.<br />
    o You can manage the visibility of this information under Profile Settings. Please note that your username will be
    public at all times, unless you have changed the visibility to “No one” under your profile settings.<br />
    <p></p>

    When using the Platform:<br />
    o We register the information you provide when using the Platform, including ranking wines, followers, connected
    friends, your wine orders, your traffic on the Platform and your communication with us.<br />
    o The Users are encouraged not to reveal personal data concerning the user itself and other especially special
    categories of data (such as information about a person’s health, addictions or allergies) when commenting on wines
    or reviews, nor when uploading pictures on the Platform. When a User makes such information about them or others
    public, the User is responsible for ensuring legal ground for disclosing the information.<br />
    o Our App will ask for your permission to enable the collection of the location of your device/you. If you have
    given permission to collect your device location, we will use the location to show you certain offers available
    around your location as personalized marketing message. Location may also be used for analytics etc.<br />
    o We use cookies to enable the Platform to work, and to provide you with a personalized experience. For further
    information on our use of Cookies, please see 'Cookies'. When purchasing wine from the Platform:<br />
    o When you purchase products using the Platform you buy from a thirdparty vendor, not Tastefever. Consequently,
    Tastefever passes the order submitted by you to the selected third-party vendor. Please be informed that we will
    share your purchase information with the third-party vendor, for the vendor to be able to deliver the purchased wine
    to you. The third-party vendor becomes an independent controller for the personal data about you received from us.
    As mentioned above we will also store and process your purchase information as part of our service to you.

    ​<h3>4. Cookies</h3>
    ​
    A cookie is a small text file stored on your computer, tablet, mobile or similar, for the purpose of recognizing
    your device if you visit our website again (such as login, language, font size and other settings). This makes it
    possible to customize the Website to your browser. A cookie may contain text, numbers or e.g. a date, but generally
    there are no personal data in a cookie. It is not a program and thus cannot contain a virus. When you visit our
    website, we collect information about you that allows us to identify your device. The information is used to
    customize and improve our content on the website and to get statistical information (not personal information), so
    we can provide you with the best possible experience. If you choose not to accept cookies at all you may not be able
    to use all the functions of our website. You can modify your browser, so cookies are not stored on your computer,
    tablet, mobile etc. See instructions here: http://minecookies.org/cookiehandtering. Be aware, however, that without
    cookies, you may not be able to use all the functions of our website. Besides our own cookies, we use cookies from
    third parties, e.g. from suppliers of advertisements and analytic tools and from suppliers of social media. These
    third-party cookies are used for marketing purposes and for improving the functionality of the website.
    <br />
    <p></p>
    We use the following third party cookies:<br />
    <p style="font-weight: bold;">o Google<br />
    <p style="font-weight: bold;">o Facebook<br />
    <p style="font-weight: bold;">o Alexa<br />
    <p style="font-weight: bold;">o Heap<br />
    <p style="font-weight: bold;">o Impact<br />
    <p style="font-weight: bold;">o Steelhouse<br />
    <p style="font-weight: bold;">o Outreach<br />
    <p style="font-weight: bold;">o Pinterest<br />
        ​
    <h3> 5. Transfer of data to third countries</h3>

    Tastefever may use suppliers located outside the EU/EEA to process data on behalf of Tastefever according to
    standard data protection clauses adopted by the European Commission and to Tastefever’s performance of the contract
    with you.

    ​<h3> 6. Sharing of data Personal</h3>
    ​

    data about our users is an essential part of our business. We only share your personal data as described below apart
    from when we share it with a third-party vendor. We share your reviews with other Users if you have consented to us
    sharing your reviews with other users. We may share personal data regarding you if we are obligated to do so by law.

    ​<h3>7. Your rights as a user</h3>
    ​

    As provided by the General Data Protection Regulation, you have the right to:<br />
    o Access personal data regarding you. You can always access your account to review the personal data we have
    collected about you. You may delete and amend the data collected. You also have the right to obtain a copy of the
    personal data free of charge. However, we may charge a fee corresponding to administrative costs if further copies
    of the information are requested, or if the request is unfounded or excessive.<br />
    o Ask for rectification of incorrect or inaccurate data concerning you, or to have incomplete personal data
    completed. You can use your access to your account to update your personal data.<br />
    o Ask for erasure of personal data regarding you (under certain circumstances).<br />
    o Ask for the restriction of the processing of your data (under certain circumstances).<br />
    o Object to the processing of your data for marketing purposes by withdrawing your personal consent.<br />
    o You can at any time withdraw your consent by deleting your profile or delete your account in the in-app settings.
    When we receive a request to access, rectify, erase or port data, we may ask you for additional information in order
    to confirm your identity and ensure data security. You can send a request at https://www.tastefever.com/contact .
    You have the right to complain regarding the processing of personal data concerning you to the supervisory
    authority, which in Belgium is the Belgian Data Protection Agency: Gegevensbeschermingsautoriteit Drukpersstraat 35,
    1000 Brussel +32 (0)2 274 48 00 +32 (0)2 274 48 35 contact@apd-gba.be<br style="font-weight: bold;" />

    ​<h3> 8. Data retention and account deletion</h3>


    We store your personal data for as long as your account is active. We may also store some of your personal data to
    comply with our legal obligations. You may add or update certain information to your account. When you update
    information, however, we often maintain a copy of the unrevised information in systems back-ups for a period of time
    until our backup is updated with the latest version. You may request deactivation of your account by following the
    instructions at the Platform. If you deactivate your account, we do not delete your information but holds it for you
    until such time as you either activates your account again or delete it. When you delete your account, we delete the
    data attached to your account including your username. The username will be deleted from all reviews, and the
    reviews will be anonymized for future viewing. Please note that some information may remain in our records after
    your account has been deleted, and that we may only be able to delete this information later when updating our
    backups.

    ​<h3> 9. Security User</h3>

    Accounts including personal data are protected by a password for your privacy and security. You should ensure no
    unauthorized access to your account and personal data by choosing and protecting your password appropriately, and by
    signing off when finishing accessing your account. When signing in via third-party application provider your
    password is solely managed by such third-party. We do our best to ensure that user accounts are kept private.
    However, various instances such as unauthorized entry/use, hardware or software failure, and other factors, may
    compromise the security of the personal data. This Privacy Policy only governs information collected on the Platform
    and through our cookies.

    ​<h3>10. Children's privacy</h3>

    The Platform is intended for use by adults of legal drinking age in the jurisdiction in which you reside. If we
    receive notice or reasonably believe that someone under the legal drinking age has provided us with personal
    information, we will promptly delete the account and all personal information that has been provided to us.

    ​<h3> 11. Changes to Privacy Policy</h3>
    ​
    This Privacy Policy may be amended from time to time. You will be notified before we make changes to this policy and
    you will be given the opportunity to review this revised policy before you choose to continue using the Platform. We
    will use only use personal data in accordance with the privacy policy under which the personal data was collected
    unless we specifically ask for your consent to process (reuse) your personal data to a new purpose.

    ​<h3>12. Questions or concerns</h3>

    If you have any feedback on this Privacy Policy, you can contact us:
    o By mail at Plasstraat 30, 8790 Waregem, BELGIUM
    o By email at info@Tastefever.com with any questions and suggestions. We will try our best to reply to your
    questions and resolve your concerns.</p>

    <div id='footer'>
        <div class='container text-center'>
            <p>
                &copy; 2020 Privacy page. Design by Tastefever
            </p>
        </div>
    </div>

</body>