#contact .social {
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  margin-top: 50px;
  text-align: center;
}
#contact .social ul li {
  display: inline-block;
  margin: 0 20px;
}
#contact .social i .fa {
  font-size: 22px;
  width: 48px;
  height: 48px;
  padding: 12px 0;
  border: 2px solid #fff;
  color: #fff;
  border-radius: 50%;
  transition: all 0.3s;
}
#contact .social ul li a {
  display: inline;
}

#contact .social i .fa:hover {
  color: #608dfd;
  background: #fff;
}
